.idea
*.iws
*.iml
*.ipr
HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
!README.md
.m2/
!.m2/settings.xml
jgiven-reports/
